<label class="form-label"
  ><%= label %>
  <span class="clearable-field">
    <input
      class="form-control"
      name="<%= name %>"
      value="<%= value || '' %>"
      placeholder="<%= placeholder || '' %>"
    />
    <button
      class="clear-input-button"
      type="button"
      data-clear-input
      aria-label="清空<%= label %>"
    >
      ×
    </button>
  </span>
</label>
